@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
	background-color: #141414;

	--accent-color: #7c91e2;
	--dark-bg-color: #0D1B2A;
	--disabled-color: #778DA9;
	--textarea-color: #1B263B;
	--secText-color: #778DA9;
	--primText-color: #e4e4e4;
}

*, body, html {
	font-family: "Rubik", monospace;
}

body {
	min-height: 100vh;
}

header {
	font-size: 1.7rem;
	height: 3.2rem;
	background: var(--dark-bg-color);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
	padding: 10px 15px 10px 21px;
	user-select: none;
}

div.title a {
	color: #8A8A8A;
	text-decoration: none;
}

button.fas {
	line-height: unset;
	transition: all .1s linear;
}

::placeholder {
	color: var(--secText-color);
}

button:disabled {
	background-color: transparent;
	border: none;
	color: var(--disabled-color);
}

button:enabled {
	background-color: transparent;
	border: none;
	color: #e4e4e4;
}

button:hover {
	color: var(--accent-color);
	transition: all .1s linear;
}

button[disabled]:hover {
	color: var(--disabled-color);
}

footer {
	height: 2.7rem;
	width: 100%;
	background: var(--dark-bg-color);
	color: var(--primText-color);
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 15px;
	font-size: 1rem;
	justify-content: center;
	user-select: none;
}

footer a {
	text-decoration: none;
	color: var(--accent-color);
	transition: all .1s linear;
}

footer a:hover {
	color: var(--secText-color);
	transition: all .1s linear;
}

div#stuff-links {
	display: flex;
}

div#stuff-links a {
	padding-left: 15px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
}

.feather {
	width: 26px;
	height: 26px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

textarea {
	background: var(--textarea-color);
	font-family: "JetBrains Mono", monospace !important;
	color: white;
	padding: 15px;
	display: flex !important;
	width: 100%;
	height: 100%;
	resize: unset !important;
	border: none;
	overflow: auto;
	outline: none;
	box-shadow: none;
	font-size: .9rem !important;
}

.actions {
	font-size: 1.4rem;
}

pre {
	display: block;
	overflow: auto;
	width: 100%;
	height: 100%;
	margin-bottom: unset !important;
	margin-top: unset;
	white-space: normal;
}

code {
	padding: 14px 24px !important;
	width: 100%;
	height: 100%;
	font-size: 1.3rem;
}

.hljs {
	background: var(--textarea-color) !important;
	color: white !important;
	white-space: pre-wrap;
}

pre, code, [class*="hljs-"] {
	font-family: 'JetBrains Mono', monospace !important;
}
